<section class="users-section">
  <ul class="users-list">
    <% @users.each do |friend| %>
      <h4><%= link_to friend.name, user_path(friend), class: 'listed-users' %></h4>
      <%= make_friend(friend) %>
      <hr class="all-users-hr">
    <% end %>
  </ul>
</section>