@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

$primary-color-dark: #689f38;
$primary-color: #8bc34a;
$primary-color-light: #dcedc8;
$primary-color-text: #212121;
$divider-color: #bdbdbd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #fff;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  padding-top: 100px;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

h3 {
  padding: 10px;
  background-color: #c5e1a5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-color-text;
}

.pending-f-header,
h4 a {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main a {
  display: inline-block;
  max-width: 174px;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 48px;
  background-color: $primary-color-dark;
  color: $primary-color-light;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 30;

  a {
    color: $primary-color-light;
    text-transform: capitalize;
    font-weight: 900;
  }

  .active a {
    color: #fff;
  }

  a:hover {
    color: #fff;
  }

  .menu {
    width: 80%;
    justify-content: space-between;

    .menu-item {
      float: left;
      margin: 0 15px;
    }
  }
}

.main.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > h2 {
  text-align: center;
}

.notice,
.alert {
  margin-bottom: 8px;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: dimgrey;
  font-size: 14px;
}

.notice {
  background-color: #d4f6c6;
}

.alert {
  background-color: #f6cfc6;
}

.errors {
  font-size: 10px;
  color: red;
}

.new_post,
.new_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    display: none;
  }

  .form-control {
    width: 100%;
    border: 1px solid $divider-color;
    height: 64px;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
  }

  .field_with_errors {
    width: 100%;

    .form-control {
      border: 1px solid #f00;
    }
  }

  .btn-primary {
    width: 100%;
  }

  .btn-secondary {
    width: 30%;
    margin-left: 70%;
  }
}

form input[type="submit"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: $primary-color-dark;
  color: $primary-color-light;
  text-transform: capitalize;
  font-weight: 900;
}

form {
  margin: 8px 0;

  .f_field {
    width: 100%;
    padding: 8px 0;

    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid $divider-color;
      border-radius: 4px;
      padding: 8px;
      background-color: $primary-color-light;
    }

    input[type="checkbox"] {
      width: max-content;
    }
  }

  .actions {
    display: flex;
    margin: 8px 0;
  }

  input[type="submit"]:hover {
    background-color: $primary-color;
    color: #fff;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.main-title {
  margin-bottom: 30px;
  position: fixed;
  top: 35px;
  background-color: #fff;
  width: 100%;
  padding: 20px 0;
  z-index: 20;
}

.post-main-title {
  margin-left: 45%;
  margin-bottom: 10px;
}

.timeline {
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 8px 0;
  }

  .posts {
    width: 100%;
  }

  .post {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
  }

  .post-attribution {
    float: left;

    .post-author {
      margin: 0 0 8px 0;
      color: $primary-color-dark;
      text-transform: capitalize;
    }
  }

  .post-liking {
    float: right;

    a {
      color: $primary-color-dark;
      font-weight: bold;
      font-size: 0.9em;
      margin: 0 4px;
    }

    .post-date {
      font-size: 0.6em;
    }
  }

  .post-content {
    font-size: 1.1em;
    padding: 4px 0;
  }

  .post-comments-section {
    margin: 5px;
    width: 90%;
    margin-left: 10%;

    .post-comments {
      position: relative;
      display: flex;
      border-bottom: 1px solid $divider-color;
      border-radius: 3px;
      margin-bottom: 2px;
      padding: 10px;

      p {
        font-size: 0.8em;
        width: 90%;
      }

      span {
        position: absolute;
        right: 3px;
        font-size: 0.6em;
      }
    }
  }
}

.users-section {
  width: 100%;
  margin: 10px;

  .users-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .user-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .users-list li {
    margin-bottom: 16px;
    text-transform: capitalize;
    font-size: 1.2em;
  }

  .profile-link {
    font-size: 0.8em;
    margin: 0 0 8px 0;
    color: $primary-color-dark;
  }
}

.user-section {
  width: 100%;
  margin-left: 16px;

  h2 {
    text-transform: capitalize;
  }

  .timeline {
    width: 100%;

    h3 {
      width: 100%;
      color: #689f38;
    }

    justify-content: start;
  }
}

#error_explanation {
  h2 {
    color: $primary-color-text;
    font-size: 1em;
  }

  ul {
    color: #f00;
  }
}

.friendships {
  margin-left: 8px;
  width: 60%;
}

.friends-req-row {
  display: flex;
  justify-content: space-between;
}

.pending-fr-hr {
  max-width: 50%;
  margin-top: 10px;
  opacity: 0.4;
}

.pending-fr-lp-hr,
.all-users-hr {
  margin: 10px 0 10px;
  background-color: #689f38;
  border: none;
  height: 1px;
  opacity: 0.4;
}

.bg-pending-r {
  padding: 12px 12px 6px;
  background-color: #b2ff59;
  border: solid 1px #8bc34a;
  color: #000;
  display: inline;
}

.accept-request {
  padding: 6px;
  margin: 5px;
  background-color: #76ff03;
  display: inline-block;
  border-radius: 2px;
}

.decline-request {
  padding: 6px;
  margin: 5px;
  background-color: #689f38;
  display: inline-block;
  border-radius: 2px;
}

.listed-users {
  padding: 5px 0;
  display: inline-block;
}

.devise-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devise-log {
  display: flex;
  flex-direction: column;
  align-self: center;
}

input[value="Sign up"] {
  max-width: 174px;
  display: inline-block;
  margin-left: 0 !important;
}

input[value="Send Reqeust"] {
  max-width: 174px;
  display: inline-block;
  margin-left: 0 !important;
}

.devise-signup {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 0;
}

@media only screen and (min-width: 480px) {
  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 70%;
  }
}

#logo {
  display: inline-block;
  font-size: 14px;
  color: #dcedc8;
  border: 1px dashed #dcedc8;
  border-radius: 40px;
  background-color: #008900;
  text-shadow: 0 1px 1px #101d01;
  padding: 3px 8px;
  font-weight: 700;
}

#logo:hover {
  background: none;
}

form#new_user.new_user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  margin: 0 auto;
}

@media (min-width: 780px) {
  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 50%;
  }
}
